<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>MUSEUM OF FINE ARTS</title>
    <th:block th:include="/fragments/head"></th:block>
</head>
<body>

<th:block th:include="/fragments/featured"></th:block>

<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <th:block th:include="/fragments/nav"></th:block>
    </nav>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-12 d-inline-block">
            <h5 class="text-primary">Don't forget to buy tickets for your visit!</h5>
            <form th:action="@{/sales}" th:method="POST">
                <input type="text" th:name="numberOfTickets" placeholder="Enter number of tickets here ..."><br>
                <select id="type" th:name="ticketType">
                    <option th:each="t : ${T(softuni.ivasi.mofa.sales.models.entity.TicketType).values()}"
                            th:value="${t}"
                            th:text="${t}">
                    </option>
                </select><br>
                <button type="submit" class="btn-outline-primary rounded"
                        style="margin-top: 30px">Buy tickets</button>
            </form>
            <div style="margin-top: 30px">
                <div th:each="ticket : ${session.lastSoldTickets}"
                     th:text="|Thank you for your purchase, ${#authentication.name}.
                     Ticket: ${ticket.getTicketType()}
                     Price: ${ticket.getPrice()}, ticket ID: ${ticket.id}|"
                     class="col-12 bg-success text-light">
                </div>
            </div>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                          data-target="#collapsedAllTickets" aria-expanded="false"
                          aria-controls="collapsedAllTickets" style="margin-top: 30px">
                Show/Hide all your purchases
            </button>
            <div style="margin-top: 30px" th:each="ticket : ${allSoldTickets}">
                <table class="table-striped collapse" id="collapsedAllTickets"
                       style="background-color: white; background-blend-mode: soft-light">
                    <tr>
                        <td>
                            <span th:text="|Ticket: ${ticket.getTicketType()}|"></span>
                        </td>
                        <td>
                            <span th:text="|Price: ${ticket.getPrice()}|"></span>
                        </td>
                        <td>
                            <span th:text="|Ticket ID: ${ticket.id}|"></span>
                        </td>
                        <td>
                            <span th:text="|Sold on: ${ticket.soldOn}|"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>