<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MUSEUM OF FINE ARTS</title>
    <th:block th:include="/fragments/head"></th:block>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
    <th:block th:include="/fragments/nav-curator"></th:block>
</nav>

<div class="container-fluid" style="padding-top: 10px">
    <div class="row">
        <h4 class="bg-light w-100 text-center" style="color: #36384c; font-family: 'Britannic Bold', serif">Browse our Collections online</h4>
    </div>
    <!-- Collections -->
    <div class="row justify-content-center">
        <div th:each="c : ${collections}" class="card-group">
            <div class="card" style="width: 18rem; padding: 3px; border-top-color: #849974">
                <img class="card-img-top img-thumbnail" th:src="*{c.imageUrl}" alt="Cover Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{c.name}">...</h5>
                    <p class="card-text" th:text="*{c.description}">...</p>
                    <a class="btn" style="background-color: #849974; color: #fff" th:href="@{collections/show/{id}(id=${c.id})}">View Collection</a>
                </div>
            </div>
        </div>
    </div>
    <!-- EO Collections   -->

    <!--  Projects  -->
    <div th:id="projects" class="row" style="padding-top: 10px">
        <h4 class="bg-light w-100 text-center" style="color: #36384c; font-family: 'Britannic Bold', serif">Browse our Collections online</h4>
    </div>
    <div class="row align-items-center">
        <div class="card-group">
            <div class="card" style="width: 18rem; padding: 3px; border-top-color: #849974">
                <img class="card-img-top" src="images/baudouin.webp">
                <div class="card-body">
                    <h5 class="card-title">Van Eyck</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn" style="background-color: #849974; color: #fff">View Collection</a>
                </div>
            </div>
        </div>
    </div>
    <!-- EO Projects   -->
</div>

</body>
</html>