<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MOFA - Collection View</title>
    <th:block th:include="/fragments/head"></th:block>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <th:block th:include="/fragments/nav"></th:block>
</nav>
<h4 style="text-align: center" th:text="|Collection: ${collection.name}|"></h4>

<div class="container-fluid text-center" th:object="${collection}">

    <div sec:authorize="hasRole('ROLE_CURATOR')" class="row">
        <div class="col-12">
            <a class="btn" style="background-color: #849974; color: #fff; margin-bottom: 30px"
               th:href="@{/curator/collection/{id}(id=${id})}">Edit Collection</a>
        </div>
    </div>

    <div class="row" style="display: inline-block">
        <div class="card-group">
            <div th:each="i : ${collection.getItems()}" class="card" style="width: 18rem; padding: 3px; border-top-color: #849974">
                <img class="card-img-top" th:src="${i.imageUrl}" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${i.name}">...</h5>
                    <p class="card-text" th:text="${i.getAuthor()}">...</p>
                    <a class="btn" style="background-color: #849974; color: #fff"
                       th:href="@{/items/show/{id}(id=${i.id})}">View Item</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>