<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/head"></th:block>
</head>
<body>
<th:block th:include="/fragments/featured"></th:block>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <th:block th:include="/fragments/nav"></th:block>
</nav>
</body>
<div class="container-fluid text-center">
    <div class="row text-center">
        <div class="col-12">
            <h5 th:text="|Edit profile for user: ${userUpdateBinding.username}|"></h5>
        </div>
    </div>
    <div class="row text-center">
        <div class=" col-12">
            <form class="rounded" th:action="@{/users/profile}" th:method="POST" th:object="${userUpdateBinding}"><br>
                <small th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></small>
                <input type="text" th:field="*{firstName}" th:placeholder="*{firstName}" class="input-field"><br>

                <small th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></small>
                <input type="text" th:field="*{lastName}" placeholder="Last name" class="input-field"><br>

                <small th:each="err : ${#fields.errors('username')}" th:text="${err}"></small>
                <input type="text" th:field="*{username}" placeholder="User name" class="input-field"><br>

                <small th:each="err : ${#fields.errors('email')}" th:text="${err}"></small>
                <input type="text" th:field="*{email}" placeholder="Email" class="input-field"><br>

                <input type="text" th:field="*{address}" placeholder="Address" class="input-field"><br>
                <div class="button-holder d-flex justify-content-center" style="padding-top: 20px">
                    <button type="submit" class="btn btn-secondary mb-3">Submit</button>
                </div>
                <h6 class="bg-success text-light" th:if="${saved}">Changes committed!</h6>
            </form>
        </div>
    </div>
</div>
</html>