<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/head"></th:block>
</head>
<body>
<th:block th:include="/fragments/featured"></th:block>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <th:block th:include="/fragments/nav"></th:block>
</nav>
<div class="row text-center">
    <div class="col-12 d-inline-block">
        <h3 class="text-primary" style="margin-top: 30px">This is the MOFA most friendly ERROR PAGE!</h3>
        <div th:text="${message}"></div>
    </div>
</div>

</body>
</html>